* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*? -------------------- */

html {
	scroll-behavior: smooth;
}

body {
	/* font-family: 'Fira Sans', sans-serif; */
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #1B1818;
}

a {
	/* color: #FEFEFE; */
}

/*! =====header====== */
.header {
	background: #332208;
	margin-bottom: 51px;
	transition: all .3s;
	z-index: 10;
}

.container {
	/* border: 1px solid red; */
	max-width: 1220px;
	padding: 0 10px;
	margin: 0 auto;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
}

.logo {}

.logo__img {}

.menu {
	/* margin: 0 auto; */
	/* color: #FEFEFE;
	padding-bottom: 5px; */
}

.menu__list, .footer__menu-list {
	display: flex;
	justify-content: space-between;
}

.menu__item {
	padding: 0 15px;


}

.menu__list-link {
	text-transform: uppercase;
	font-size: 18px;
	line-height: 21px;
	color: #FEFEFE;
	padding-bottom: 5px;
	border-bottom: 1px solid transparent;
	transition: all .5s;
}

.menu__list-link:hover {
	border-bottom: 1px solid #FEFEFE;
}

.phone {
	font-size: 18px;
	line-height: 21px;
	color: #FEFEFE;
}

/*! ====== section__top ===== */
.top {

	margin-bottom: 100px;
}

.container {}

.top__inner {
	display: flex;
}

.top__content {
	text-align: center;
	padding-top: 90px;
	width: 50%;
}

.top__title {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 500;
	font-size: 48px;
	line-height: 58px;
	text-align: center;
	color: #1B1818;
	max-width: 455px;
	margin: 0 auto 20px;
}

.top__text {
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	color: #1B1818;
	max-width: 470px;
	margin: 0 auto 63px;
}

.app__btn {
	background: #C5AC2D;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	text-transform: uppercase;
	color: #FEFEFE;
	border: 1px solid transparent;
	padding: 15px 19px;
	transition: all .5s;
}

.app__btn:hover {
	background: #FEFEFE;
	border: 1px solid #C5AC2D;
	color: #C5AC2D;
}

.top__slick-slader {
	position: relative;
	width: 50%;
}

.top__slick-slader .slick-dots {
	top: 50%;
	right: 0;
	position: absolute;
	text-align: center;
	transform: translateY(-50%);

}

.slick-dots button {
	background: #332208;
	border-radius: 50%;
	font-size: 0;
	width: 8px;
	height: 8px;
	border: none;
}

.slick-dots button:hover,
.slick-active button {
	width: 16px;
	height: 16px;

}

.top__slick-item {}

.top__slader-img {}

.top__slader-text {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 500;
	text-align: center;
}

.top__slader-text span {
	padding: 0 12px;
}

.top__bottom {
	display: flex;
	justify-content: space-between;
}

.top__cards {
	display: flex;
	justify-content: space-around;
	width: 50%;

}

.top__card-item {
	width: 150px;
	height: 150px;
	text-align: center;
	border: 1px solid #332208;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	transition: all .5s;
}

.top__card-item:hover {
	transform: scale(1.25);

}

.top__card-img {}

.top__card-text {}

.top__links {
	margin-right: 80px;
	margin-top: 140px;


}

.top__link {
	border-bottom: 1px solid #1B1818;
	color: #1B1818;
}

.top__link+.top__link {
	margin-left: 21px;
}

/*! =====section----rent====== */
.rent {

	padding-top: 100px;
	margin-bottom: 100px;
}

.container {}

.rent__inner {
	display: flex;
	justify-content: space-between;
}

.rent__content {
	/* width: 300px; */
width: 25%;
}

.rent__title {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #1B1818;
	margin-bottom: 30px;

}

.rent__text {
	margin-bottom: 20px;
}

.rent__text+.rent__text {
	margin-bottom: 40px;
}

.app__btn {}

.rent__carts-inner{
	display: flex;
	justify-content: space-around;
	width: 75%;
}

.rent__item {
	width: 250px;
	min-height: 350px;
	border: 1px solid #332208;
	text-align: center;
	padding: 0 35px 35px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	transition: all .5s;
}

.rent__item:hover {
	transform: scale(1.25);
}


.rent__item-nam {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 500;
	font-size: 96px;
	line-height: 115px;
	color: #1B1818;
	opacity: 0.05;
}

.rent__item-title {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #1B1818;
	margin-bottom: auto;

}

.rent__item-text {}

/*! =====section----benefits===== */
.benefits {
	padding-top: 100px;
	margin-bottom: 100px;

}

.container {}

.benefits__title {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #1B1818;
}

.benefits__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.benefits__list {
	width: 300px;
}

.benefits__list-item {
	text-align: right;
	position: relative;
	margin-bottom: 27px;
	padding-right: 26px;
}

.benefits__list-item::after {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	background: #332208;
	border-radius: 50%;
	right: 0;
	top: 2px;
}

.benefits__list-item:nth-child(1),
.benefits__list-item:nth-child(7) {
	margin-right: 17px;
}

.benefits__list-item:nth-child(2),
.benefits__list-item:nth-child(6) {
	margin-right: 64px;
}

.benefits__list-item:nth-child(3),
.benefits__list-item:nth-child(5) {
	margin-right: 116px;
}

.benefits__list-item:nth-child(4) {
	margin-right: 162px;
}

.benefits__img {}

.benefits__content {
	width: 300px;
	text-align: right;
}

.benefits__text {
	text-align: right;
	margin-bottom: 30px;
}

.benefits__text+.benefits__text {
	width: 267px;
	margin-left: auto;
}

.video__popup {
	position: relative;
	background: #C5AC2D;
	padding: 6px 34px 6px 64px;
	text-align: center;
	text-transform: uppercase;
	color: #FEFEFE;
	display: inline-block;
	margin-left: 100px;
	border: 1px solid transparent;
	transition: all .5s;
}

.video__popup::before {
	content: "";
	position: absolute;
	background-image: url(../img/PLAY.svg);
	top: 12px;
	left: 34px;
	width: 25px;
	height: 25px;


}

.video__popup:hover {
	background-color: #FEFEFE;
	border: 1px solid #C5AC2D;
	color: #C5AC2D;

}

;
/*! ===== section----reviews--slider ===== */

.reviews {}

.bow {
	background: #332208;
	color: #FEFEFE;
	padding: 100px 0 135px;
}

.container {}

.reviews__title {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	margin-bottom: 70px;

}

.reviews__inner-slader {
	display: flex;
}

.slick-initialized .reviews__item {
	display: flex;

}

.reviews__inner-slader .slick-dots {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: -43px;
	right: 0;
	left: 0;
}

.reviews__inner-slader .slick-dots button {
	background: #C5AC2D;
	margin: 0 5px;
}



.reviews__item {
	text-align: center;
	width: 270px;
	min-height: 300px;
	padding: 45px 30px;
	border: 1px solid #C5AC2D;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 30px;

}

.reviews__item-title {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;

}

.reviews__item-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;

}

/* !===== section---- question ====== */
.question {
	margin: 100px 0 100px;
	margin-bottom: 100px;
}

.container {}

.question__inner {
	display: flex;
	align-items: center;
}

.question__img-car {
	width: 50%;

}

.question__form {
	max-width: 416px;
	margin: 0 auto;
}

.question__title {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	margin-bottom: 5px;


}

.question__text {
	margin-bottom: 50px;

}

.question__input {
	width: 100%;
	padding: 20px 0;
	border-bottom: 1px solid rgba(0, 0, 0, .1);

}

.question__input::placeholder {
	font-family: 'Roboto Condensed', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #1B1818;


}

.question__btn {
	background: #C5AC2D;
	padding: 16px 36px;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	text-transform: uppercase;
	color: #FEFEFE;
	margin-top: 50px;
	border: 1px solid transparent;
	transition: all .5s;


}

.question__btn:hover {
	background-color: #FEFEFE;
	border: 1px solid #C5AC2D;
	color: #C5AC2D;

}

/*! ===== foter botton ===== */
.footer__botton {
	background: #332208;
}

.container {}

.footer__inner {

	text-align: center;
	padding: 75px 0 30px;
}

.footer__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.app__btn {}

.menu {}

.footer__social-list {
	display: flex;

}

.footer__social-item {

	/* padding: 30px; */
}

.footer__social-link {

	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #FEFEFE;
}

.phone {}

.footer__social {}

.footer__social-img {
	margin: 0 15px;
}

/*! ============---adaptive---============= */
body.lock {
	overflow: hidden;
}

.menu-btn {
	display: none;
	width: 40px;
	height: 40px;
	background-color: transparent;
	cursor: pointer;

}

.menu-btn span {
	transition: all .10s;
	display: block;
	height: 1px;
	background-color: #FEFEFE;
	position: relative;
}

.menu-btn span::after,
.menu-btn span::before {
	position: absolute;
	content: "";
	height: 1px;
	width: 40px;
	background-color: #FEFEFE;
	left: 0;
}

.menu-btn span::after {
	top: 20px;
	transition: all .5s;

}

.menu-btn span::before {
	top: -20px;
	transition: all .7s;
}

.menu-btn.active span::before {
	transform: rotate(45deg);
	top: 0;
}

.menu-btn.active span::after {
	transform: rotate(-45deg);
	top: 0;
}

.menu-btn.active span {
	background-color: transparent;
}

@media (max-width: 1220px) {
    .benefits__inner{
		flex-wrap: wrap;
		justify-content: center; 
	}
	.benefits__title{
		text-align: center;
		font-size: 40px;
		padding-bottom: 60px;
	}

	.benefits__list-item {
		text-align:left;
		padding-left: 30px;
		margin-bottom: 20px;
	}

	.benefits__list-item::after {
		content: "";
		left: 0;
	}
	
	.benefits__list-item:nth-child(1),
	.benefits__list-item:nth-child(7) {
		margin-right: 0px;
	}
	
	.benefits__list-item:nth-child(2),
	.benefits__list-item:nth-child(6) {
		margin-right: 0px;
	}
	
	.benefits__list-item:nth-child(3),
	.benefits__list-item:nth-child(5) {
		margin-right:0px;
	}
	
	.benefits__list-item:nth-child(4) {
		margin-right: 0px;
	}

	.benefits__img{
		order: 3;
	}

}
@media (max-width: 1150px) {
	.rent{
		padding-top: 50px;
	}
	.rent__inner{
		display: block;
	}
	.rent__content{
		width: 100%;
		text-align: center;
		margin-bottom: 70px;
	}
	.rent__carts-inner{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		width: 100%;
		
	}
	.question__inner{
		flex-direction: column;
	}
	.question__img-car {
		display: inline-block;
		width: 90%;
		
	}
	.question__img-car img{
		width: 100%;	
	}
	.question__form{
		width: 70%;
	}
	.question__btn{
		margin: 50px auto 0;
		display: inherit;
	}
	
}
@media (max-width: 1100px) {
	.top__slick-slader .slick-dots {
		top: 40%;
		right: 0;
		position: absolute;
		text-align: center;
		transform: translateY(75%);
		left: 0px;
		bottom: 0;
		display: flex;
		gap:10px;
		align-items: flex-start;
		justify-content: center;
		z-index: -2;
	}
	.top__inner{
		display: block;

	}
	.top__content{
		width: 100%;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.top__slick-slader{
		width: 100%;
		margin-bottom: 50px;
	}
	.slick-slide img{
		margin: 0 auto;
		width: 95%;

	}
	.top__bottom{
		text-align: center;
		display: block;
	}
	.top__cards{
		flex-wrap: wrap;
		width: 100%;

	}
	.top__links{
		margin-top: 40px;
		margin-right: 0;
	}

	.footer__menu {
		padding-bottom: 20px;
	}
}


@media (max-width: 960px) {
	.rent__item{
		margin: 15px 15px 45px;
	}
	.footer__content{
		flex-direction: column-reverse;
		align-items: center;
	}
	a.phone{
		padding-bottom: 20px;
	}
	.menu__list{
		padding-bottom: 20px;
	}
	.footer__social{
		padding-top: 20px;
	}

}
@media (max-width: 840px) {
	.rent{
		padding-top: 0;
	}
	.benefits{
		padding-top: 0;
		margin-bottom: 50px;
	}
	.bow{
		padding-top: 50px;
	}
	.question{
		margin-bottom: 50px;
	}
}
@media (max-width: 820px) {
	.menu-btn {
		display: block;
	}

	.menu__list {
		transform: translateY(-200%);
		transition: all .5s;
		position: absolute;
		display: block;
		background-color: #C5AC2D;
		margin-top: 100px;
		padding-top: 30px;
		padding-bottom: 30px;
		top: 0;
		left: 0;
		right: 0;
		text-align: center;
		z-index: -1;

	}

	.menu__list.active{
		transform: translateY(0);

	}
	.footer__menu-list {
		flex-direction: column;
		position: static;
		transform: translateY(0);
		background-color: transparent;
		margin-top: 0;
		padding-top: 0;
	}


	.header.active {
		margin-bottom: 200px;
	}

	.menu__item {

		padding: 8px 20px;
	}

	.menu {
		order: 3;
	}
}
@media (max-width: 640px){
	.benefits__content{
		width: 100%;
		text-align: center;
	}
	.benefits__text, .benefits__text + .benefits__text{
		text-align: center;
		width: 100%;
	}
	.benefits__list{
		margin-bottom: 30px;
	}
	.video__popup{
		max-width: 200px;
		width: 100%;
		margin-left: 0;
	}
	.benefits__img{
		width: 100%;
	}
}

@media (max-width: 560px){
	.top__card-item{
		margin: 20px;
	}
	.top__slick-slader .slick-dots{
		display: none;
	}

}
@media (max-width: 400px){
	.top__links{
		display: flex;
		flex-direction: column;
	}
	.rent__item:hover{
		transform: scale(1.10);
	}
	.question__btn{
		padding: 15px 19px;
	}
}